@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

nav{

  min-width: 238px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color:#021627;

  header h5{
    color: #f71875;
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
}