@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;

    &:checked{
      left: 0;
    }

    .header{
      font-size: 14px;
      color: #fff;
      line-height: 70px;
      text-align: center;
      background: #2b2b2b;
      user-select: none;
      font-family: 'Poppins', sans-serif;
      color: silver;
    }

    .active{
      display: block;
      height: 65px;
      width: 100%;
      line-height: 65px;
      padding-left: 30px;
      box-sizing: border-box;
      border-bottom: 1px solid #000;
      border-top: 1px solid rgba(255,255,255,.1);
      border-left: 5px solid transparent;
      font-family: 'Open Sans', sans-serif;
      transition: all .5s ease;
      border-left: 5px solid #593632;
      color: #b93632;
    }
}

  #check{
    display: none;

    &:checked{
      left: 0;
      margin-left: 245px;
      opacity: 0;
      visibility: hidden;
    }
  }

  label{
    #btn #cancel{
      position: absolute;
      cursor: pointer;
      color: #fff;
      border-radius: 5px;
      border: 1px solid #262626;
      margin: 15px 30px;
      font-size: 28px;
      background: #262626;
      height: 45px;
      width: 45px;
      text-align: center;
      line-height: 45px;
      transition: all .5s ease;
    }

    #btn{
      margin-left: 245px;
      opacity: 0;
      visibility: hidden;
    }

    #cancel{
      opacity: 0;
      visibility: hidden;
    }
  }

@media(max-width: 860px){.sidebar{
  height: auto;
  width: 70px;
  left: 0;
  margin: 100px 0;

  header{
    display: none;
  }

  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }

  a{
    height: 60px;

    i{
      margin-left: -10px;
    }

    :hover{
      width: 200px;
      background: inherit;
    }

    :hover span{
      opacity: 1;
      visibility: visible;
    }
  }

}
#btn, #cancel{
  display: none;
}

}